@model WebApp.Models.SearchViewModel

<div class="jumbotron background-aliceblue">
    <h1>GitHub Top 5 repos</h1>
    <p class="lead">Search a GitHub user's top 5 most rated repos...</p>    
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary()

            @Html.TextBoxFor(x => x.Username)
            <input type="submit" value="Search" />
        }
    </div>
</div>
